.htaccess
robots.txt
nginx.conf
.idea/*
/wp-admin/
/wp-includes/
/wp-content/uploads/*
!/wp-content/uploads/index.php
/wp-content/uploads/cache/*
/wp-content/plugins/*
!/wp-content/plugins/index.php
!/wp-content/plugins/inet-core/*
!/wp-content/plugins/inet-forms/*
!/wp-content/plugins/inet-reviews/*
/wp-content/mu-plugins/*
/wp-content/upgrade/*
/wp-content/maintenance/*
/wp-content/languages/*
/wp-content/themes/inet_lightspeed/_notes/dwsync.xml
/wp-content/themes/inet_lightspeed/node_modules/
/wp-content/themes/inet_lightspeed-child/node_modules/
/wp-content/plugins/inet-core/_notes/dwsync.xml
/wp-config.php
/wp-content/w3tc-config/
/wp-content/cache/*
/wp-content/advanced-cache.php
/wp-content/db.php
/wp-content/object-cache.php
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/readme.html
/license.txt
/index.php